@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/auth-form";


.popup-form {
  width: 727px;
  height: 489px;
  position: relative;
  text-align: center;
  a.popup-form-close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
  h2 {
    @include head-lora-38;
    margin-top: 94px;
    margin-bottom: 20px;
  }

  .form-inputs {
    margin-bottom: 15px;

    input, mat-select {
      mat-option.drop-out {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
      }
      margin-bottom: 5px;
      padding: 17px 20px;
      width: 422px;
      height: 56px;
      border-radius: 3px;
      //color: #A8ABA7;
      color: $blue-text-color;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: left;

    }
  }
}
