<section class="main">
  <div class="container">
    <div class="slider">
      <img src="/assets/images/banner-temp.png" alt="Заглушка слайдера">
    </div>
  </div>
</section>
<section class="offer">
  <div class="container">
    <div class="offer-title">
      Услуги, которые мы предлагаем
    </div>
    <div class="offer-items">
      <div class="offer-item">
        <div class="offer-item-image">
          <img src="/assets/images/offer-1.png" alt="Создание сайтов">
        </div>
        <div class="offer-item-head">
          Создание сайтов
        </div>
        <div class="offer-item-text">
          В краткие сроки мы создадим качественный и самое главное продающий сайт для продвижения Вашего бизнеса!
        </div>
        <div class="offer-item-action">
          <div class="offer-item-action-price">
            От 7 500₽
          </div>
          <div class="offer-item-action-button">
            <button class="button">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="offer-item">
        <div class="offer-item-image">
          <img src="/assets/images/offer-1.png" alt="Создание сайтов">
        </div>
        <div class="offer-item-head">
          Создание сайтов
        </div>
        <div class="offer-item-text">
          В краткие сроки мы создадим качественный и самое главное продающий сайт для продвижения Вашего бизнеса!
        </div>
        <div class="offer-item-action">
          <div class="offer-item-action-price">
            От 7 500₽
          </div>
          <div class="offer-item-action-button">
            <button class="button">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="offer-item">
        <div class="offer-item-image">
          <img src="/assets/images/offer-1.png" alt="Создание сайтов">
        </div>
        <div class="offer-item-head">
          Создание сайтов
        </div>
        <div class="offer-item-text">
          В краткие сроки мы создадим качественный и самое главное продающий сайт для продвижения Вашего бизнеса!
        </div>
        <div class="offer-item-action">
          <div class="offer-item-action-price">
            От 7 500₽
          </div>
          <div class="offer-item-action-button">
            <button class="button">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="offer-item">
        <div class="offer-item-image">
          <img src="/assets/images/offer-1.png" alt="Создание сайтов">
        </div>
        <div class="offer-item-head">
          Создание сайтов
        </div>
        <div class="offer-item-text">
          В краткие сроки мы создадим качественный и самое главное продающий сайт для продвижения Вашего бизнеса!
        </div>
        <div class="offer-item-action">
          <div class="offer-item-action-price">
            От 7 500₽
          </div>
          <div class="offer-item-action-button">
            <button class="button">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="about-image">
      <img src="/assets/images/about.png" alt="о нас">
    </div>
    <div class="about-info">
      <div class="about-info-header">
        Кто мы и чем мы занимаемся?
      </div>
      <div class="about-info-text">
        <span>АйтиШторм</span>— это ваш помощник №1 при решении таких вопросов, как продвижение в сети, разработка
        сайтов для
        бизнеса и личного бренда, сторисмейкинг, копирайтинг, маркетинг, разработка визуальной концепции и создание
        инфопродуктов. Компания была основана в 2019 году и за всё это время смогла выйти в ТОП-10 агенств, предлагающих
        услуги продвижения в сети.
      </div>
      <div class="about-info-advantages">
        <div class="about-info-advantages-title">
          Наши преимущества
        </div>
        <div class="about-info-advantages-items">
          <div class="about-info-advantages-item">
            <div class="about-info-advantages-item-num">
              <span>1</span>
            </div>
            <div class="about-info-advantages-item-text">
              <span>Мастерски вовлекаем аудиторию в процесс.</span>
              Мы увеличиваем процент вовлечённости за короткий промежуток
              времени.
            </div>
          </div>
          <div class="about-info-advantages-item">
            <div class="about-info-advantages-item-num">
              <span>2</span>
            </div>
            <div class="about-info-advantages-item-text">
              <span>Разрабатываем бомбическую визуальную концепцию. </span>
              Наши специалисты знают как создать уникальный образ вашего проекта.
            </div>
          </div>
          <div class="about-info-advantages-item">
            <div class="about-info-advantages-item-num">
              <span>3</span>
            </div>
            <div class="about-info-advantages-item-text">
              <span>Создаём мощные воронки с помощью текстов.</span>
              Наши копирайтеры создают не только вкусные текста, но и классные воронки.
            </div>
          </div>
          <div class="about-info-advantages-item">
            <div class="about-info-advantages-item-num">
              <span>4</span>
            </div>
            <div class="about-info-advantages-item-text">
              <span>Помогаем продавать больше. </span>
              Мы не только помогаем разработать стратегию по продажам, но также корректируем её под нужды заказчика.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
