<div class="blog-card" *ngIf="article">
  <span>{{article.category}}</span>
  <div class="blog-card-image" style="background-image: url({{serverStaticPath + article.image}})"></div>
<!--  style="background-image: url({{serverStaticPath + article.image}})-->
<!--  url('../../../../assets/images/article-1.png')-->
  <div class="blog-card-info">
    <div class="blog-card-info-title">
      {{article.title}}
    </div>
    <div class="blog-card-info-text">
      {{article.description}}
    </div>
  </div>
  <div class="blog-card-link">
    <a [routerLink]="'/articles/' + article.url">Читать дальше</a>
  </div>
</div>
